@font-face {
  font-family: 'lfhiker';
  src: url('../font/lfhiker.eot');
  src: url('../font/lfhiker.eot?#iefix') format('embedded-opentype'),
       url('../font/lfhiker.woff2') format('woff2'),
       url('../font/lfhiker.woff') format('woff'),
       url('../font/lfhiker.ttf') format('truetype'),
       url('../font/lfhiker.svg?#lfhiker') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lfhiker';
    src: url('../font/lfhikeriker.svg?47693737#lfhikeriker') format('svg');
  }
}
*/
 
 [class^="lfhicon-"]:before, [class*=" lfhicon-"]:before {
  font-family: "lfhiker";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased lfhs size */
 /*  font-size: 120%; */
     font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.lfhicon {
    display: inline-block;
    font: normal normal normal 14px/1 "lfhiker";
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
.lfhicon-empty:before { content: '  '; }
.lfhicon-close:before { content: '\e800'; } 
.lfhicon-asterisk:before { content: '\e801'; } 
.lfhicon-star:before { content: '\e802'; } 
.lfhicon-bolt:before { content: '\e803'; } 
.lfhicon-eye:before { content: '\e804'; } 
.lfhicon-heart:before { content: '\e805'; }
.lfhicon-flag:before { content: '\e806'; } 
.lfhicon-leaf:before { content: '\e807'; } 
.lfhicon-key:before { content: '\e808'; } 
.lfhicon-music:before { content: '\e809'; }
.lfhicon-cloud:before { content: '\e80a'; }
.lfhicon-plane:before { content: '\e80b'; }
.lfhicon-glass:before { content: '\e80c'; }
.lfhicon-home:before { content: '\e80d'; } 
.lfhicon-road:before { content: '\e80e'; } 
.lfhicon-map-marker:before { content: '\e80f'; } 
.lfhicon-edit:before { content: '\e810'; } 
.lfhicon-download:before { content: '\e811'; }
.lfhicon-th-list:before { content: '\e812'; } 
.lfhicon-resize-full-1:before { content: '\e813'; } 
.lfhicon-reset:before { content: '\e814'; } 
.lfhicon-resize-small:before { content: '\e815'; }
.lfhicon-resize-full:before { content: '\f0b2'; } 
.lfhicon-square:before { content: '\f0c8'; } 
.lfhicon-menu:before { content: '\f0c9'; } 
.lfhicon-bell:before { content: '\f0f3'; } 
.lfhicon-coffee:before { content: '\f0f4'; } 
.lfhicon-cutlery:before { content: '\f0f5'; }
.lfhicon-beer:before { content: '\f0fc'; } 
.lfhicon-circle-o:before { content: '\f10c'; } 
.lfhicon-circle:before { content: '\f111'; } 
.lfhicon-smile-o:before { content: '\f118'; } 
.lfhicon-chevron-circle-left:before { content: '\f137'; } 
.lfhicon-chevron-circle-right:before { content: '\f138'; }
.lfhicon-bullseye:before { content: '\f140'; } 
.lfhicon-female:before { content: '\f182'; } 
.lfhicon-male:before { content: '\f183'; } 
.lfhicon-sun-o:before { content: '\f185'; } 
.lfhicon-dot-circle-o:before { content: '\f192'; } 
.lfhicon-wheelchair:before { content: '\f193'; }
.lfhicon-wordpress:before { content: '\f19a'; } 
.lfhicon-bank:before { content: '\f19c'; } 
.lfhicon-child:before { content: '\f1ae'; }
.lfhicon-paw:before { content: '\f1b0'; }
.lfhicon-spoon:before { content: '\f1b1'; }
.lfhicon-cube:before { content: '\f1b2'; } 
.lfhicon-cab:before { content: '\f1b9'; } 
.lfhicon-tree:before { content: '\f1bb'; } 
.lfhicon-binoculars:before { content: '\f1e5'; } 
.lfhicon-trash:before { content: '\f1f8'; } 
.lfhicon-bicycle:before { content: '\f206 '; margin-left: -.5px;} 
.lfhicon-bed:before { content: '\f236'; } 
.lfhicon-train:before { content: '\f238'; } 
.lfhicon-industry:before { content: '\f275'; } 
.lfhicon-map:before { content: '\f279'; } 
.lfhicon-shopping-basket:before { content: '\f291'; } 
.lfhicon-envira:before { content: '\f299'; } 
.lfhicon-shower:before { content: '\f2cc'; } 
.lfhicon-snowflake-o:before { content: '\f2dc'; } 
.lfhicon-pin:before { content: '\e816'; } 
.lfhicon-globe:before { content: '\e817'; } 
.lfhicon-resize-small-1:before { content: '\e818'; } 
.lfhicon-resize-full-2:before { content: '\e819'; } 
.lfhicon-sun-inv:before { content: '\e81a'; } 
.lfhicon-record:before { content: '\e81b'; } 
.lfhicon-religious-christian:before { content: '\e82f'; } 
.lfhicon-school:before { content: '\e834'; } 
.lfhicon-skiing:before { content: '\e836'; } 
.lfhicon-swimming:before { content: '\e838'; } 

.lfhicon-cubes:before { content: '\f1b3'; } 
.lfhicon-bus:before { content: '\f207'; } 
.lfhicon-diamond:before { content: '\f219'; } 
.lfhicon-motorcycle:before { content: '\f21c'; } 
.lfhicon-fort-awesome:before { content: '\f286'; } 
.lfhicon-shopping-bag:before { content: '\f290'; } 
.lfhicon-first-order:before { content: '\f2b0'; } 
.lfhicon-plus:before { content: '\002b'}
/*
Author: L. Voogdt
License: MIT
Version: 1.0
*/

/* Marker setup */
.awesome-marker {
  background: url('images/markers-soft.png') no-repeat 0 0;
  width: 35px;
  height: 46px;
  position:absolute;
  left:0;
  top:0;
  display: block;
  text-align: center;
}

.awesome-marker-shadow {
  background: url('images/markers-shadow.png') no-repeat 0 0;
  width: 36px;
  height: 16px;
}

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
 .awesome-marker {
  background-image: url('images/markers-soft@2x.png');
  background-size: 720px 46px;
 }
 .awesome-marker-shadow {
  background-image: url('images/markers-shadow@2x.png');
  background-size: 35px 16px;
 }
}

.awesome-marker i {
  color: #333;
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}

.awesome-marker .icon-white {
  color: #fff;
}

/* Colors */
.awesome-marker-icon-red {
  background-position: 0 0;
}

.awesome-marker-icon-darkred {
  background-position: -180px 0;
}

.awesome-marker-icon-lightred {
  background-position: -360px 0;
}

.awesome-marker-icon-orange {
  background-position: -36px 0;
}

.awesome-marker-icon-beige {
  background-position: -396px 0;
}

.awesome-marker-icon-green {
  background-position: -72px 0;
}

.awesome-marker-icon-darkgreen {
  background-position: -252px 0;
}

.awesome-marker-icon-lightgreen {
  background-position: -432px 0;
}

.awesome-marker-icon-blue {
  background-position: -108px 0;
}

.awesome-marker-icon-darkblue {
  background-position: -216px 0;
}

.awesome-marker-icon-lightblue {
  background-position: -468px 0;
}

.awesome-marker-icon-purple {
  background-position: -144px 0;
}

.awesome-marker-icon-darkpurple {
  background-position: -288px 0;
}

.awesome-marker-icon-pink {
  background-position: -504px 0;
}

.awesome-marker-icon-cadetblue {
  background-position: -324px 0;
}

.awesome-marker-icon-white {
  background-position: -574px 0;
 
}
.awesome-marker .icon-white{

}
.awesome-marker-icon-gray {
  background-position: -648px 0;
}

.awesome-marker-icon-lightgray {
  background-position: -612px 0;
}

.awesome-marker-icon-black {
  background-position: -682px 0;
}

.lfh-element,
#content .lfh-element,
#lfh-fade .lfh-element,
.main .lfh-element {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-bottom-left-radius: 6px;
  pointer-events: auto;
  cursor: auto;
}
.main .lfh-element h1,
.main .lfh-element h2,
.main .lfh-element h3,
.main .lfh-element h4,
.main .lfh-element h5,
.main .lfh-element h6,
#content .lfh-element h1,
#content .lfh-element h2,
#content .lfh-element h3,
#content .lfh-element h4,
#content .lfh-element h5,
#content .lfh-element h6,
#lfh-fade .lfh-element h1,
#lfh-fade .lfh-element h2,
#lfh-fade .lfh-element h3,
#lfh-fade .lfh-element h4,
#lfh-fade .lfh-element h5,
#lfh-fade .lfh-element h6 {
  letter-spacing: -1px;
  text-transform: none;
  font-weight: 600;
  max-height: 30px;
  color: #000;
  margin-bottom: 1px;
}
.lfh-element h1,
.lfh-element h2,
.lfh-element h3 {
  font-size: 150%;
}
.lfh-element h4 {
  font-size: 130%;
}
.lfh-element h5 {
  font-size: 110%;
}
.lfh-section .lfh-header {
  font-style: italic;
  background-color: #ddddee;
  cursor: pointer;
}
.lfh-section.disabled .lfh-header {
  color: grey;
  cursor: default;
}
.lfh-section .lfh-header h4:before {
  content: "\0025BC  ";
  font-style: normal;
  font-size: 18px;
}
.lfh-section.lfh-hidden .lfh-header h4:before {
  content: "\0025B6  ";
  font-style: normal;
  font-size: 18px;
}
.lfh-section.lfh-hidden .lfh-header h4,
#content .lfh-section.lfh-hidden .lfh-header h4,
#lfh-fade .lfh-section.lfh-hidden .lfh-header h4 {
  margin-bottom: 1px;
}
.lfh-section .lfh-content {
  display: block;
  height: auto;
  line-height: 1;
  margin: 0 5px 5px 5px;
  -ms-transition: -ms-transform 0.8s ease-in;
  -webkit-transition: -webkit-transform 0.8s ease-in;
  -moz-transition: -moz-transform 0.8s ease-in;
  -o-transition: -o-transform 0.8s ease-in;
  transition: transform 0.8s ease-in;
}
.lfh-section.lfh-hidden .lfh-content {
  line-height: 0;
  height: 0;
  max-height: 0px;
  margin: 0;
  overflow: hidden;
}
.lfh-section .lfh-header h4 {
  padding: 3px 5px;
}
.lfh-container-fullscreen {
  width: 120px;
}
.lfh-container-fullscreen .leaflet-control {
  margin-top: 0;
}
.leaflet-control .lfh-control-fullscreen,
.leaflet-control .lfh-control-list {
  display: inline-block;
  font: normal normal normal 14px/1 "lfhiker";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 30px;
  height: 30px;
  background-color: white;
  font-size: 24px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  clear: none;
}
.leaflet-control .lfh-control-list.lfh-hidden {
  display: none;
}
.lfh-control-fullscreen:hover,
.lfh-control-refresh:hover,
.lfh-control-list:hover {
  background-color: #f4f4f4;
}
.lfh-control-fullscreen::before {
  content: "\e819";
  margin-left: 0px;
  vertical-align: top;
}
.lfh-control-fullscreen.actived::before {
  content: "\e818";
  margin-left: 0;
  vertical-align: top;
}
.lfh-control-refresh {
  background-color: white;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.lfh-control-refresh.lfhicon-reset::before {
  height: 25px;
  width: 25px;
  line-height: 25px;
  margin: 0;
  font-size: 20px;
}
.lfh-control-list::before {
  content: "\e812";
  margin-left: 0px;
  font-size: 20px;
  vertical-align: top;
}
#lfh-fade .lfh-control-list::before {
  margin-left: 0px;
}
.lfh-warning {
  font-style: italic;
}
div.lfh-no-data {
  text-align: center;
  color: red;
  height: 20px;
  line-height: 20px;
  border: 1px dotted red;
  margin: 5px;
}
div.lfh-min div.lfh-no-data,
div.undermap div.lfh-no-data {
  display: block;
  margin-top: 2px;
  height: 153px;
  line-height: 153px;
}
.lfh-element svg + div.lfh-no-data {
  display: none;
}
#lfh-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background: grey;
  text-align: center;
  z-index: 99999;
}
#lfh-fade.actived {
  opacity: 0.99;
}
#lfh-fade.actived,
div.lfh-map-container,
div.lfh-fadable,
#lfh-fade.actived div.lfh-map-container {
  width: 100%;
  height: 100%;
}
.lfh-map {
  display: inline-block;
  z-index: 0;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
#lfh-fade.lfh-min div.lfh-map,
#lfh-fade.undermap div.lfh-map {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 200px;
}
.lfh-element {
  float: right;
  position: absolute;
  max-height: 800px;
  text-align: left;
  border-right: 2px grey groove;
  top: 50px;
  right: 0px;
  width: 300px;
  opacity: 1;
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
  -ms-transition: -ms-transform 0.8s, max-height 0.8s;
  -webkit-transition: -webkit-transform 0.8s, max-height 0.8s;
  -moz-transition: -moz-transform 0.8s, max-height 0.8s;
  -o-transition: -o-transform 0.8s, max-height 0.8s;
  transition: transform 0.8s, max-height 0.8s;
  -ms-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.lfh-element-content {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
}
.lfh-file {
  margin-top: 3px;
}
.lfh-number {
  font-style: italic;
  text-align: right;
  width: 80px;
  display: inline-block;
}
.lfh-var {
  text-align: right;
  font-weight: 700;
  width: 90px;
  display: inline-block;
}
/* @color: #191970;*/
.lfh-button,
#content .lfh-button,
.main .lfh-button {
  min-height: 24px;
  height: auto;
  font-size: 14px;
}
.lfh-button span {
  font-size: 14px;
}
.lfh-short-button {
  max-width: 215px;
  word-wrap: break-word;
  display: inline-block;
}
.lfh-button,
#content .lfh-button,
.main .lfh-button input.lfh-button,
#content input.lfh-button,
.main input.lfh-button,
input.lfh-button + input[type="button"] {
  display: inline-block;
  margin: 0px 7px 3px 0;
  padding: 3px 12px;
  height: auto;
  width: 265px;
  line-height: 1.43;
  white-space: normal;
  text-align: center;
  background: #e95325;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ee7853 #c73e14 #c73e14;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #99300f, 1px 0 1px #c73e14, 0 1px 1px #c73e14, -1px 0 1px #99300f;
  vertical-align: top;
  cursor: pointer;
  pointer-events: auto;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.lfh-button:hover,
#content .lfh-button:hover,
.main .lfh-button:hover,
.lfh-button:hover,
#content input.lfh-button:hover,
.main input.lfh-button:hover {
  background: #ff470f;
  text-decoration: none;
}
.lfh-button input[type="checkbox"],
.entry-content .lfh-button input[type="checkbox"] {
  margin-bottom: 0;
  float: right;
}
.lfh-element.lfh-hidden {
  max-height: 0;
  -ms-transform: translateX(400px);
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -o-transform: translateX(400px);
  transform: translateX(400px);
  -ms-transition: -ms-transform 0.8s, max-height 0.8s;
  -webkit-transition: -webkit-transform 0.8s, max-height 0.8s;
  -moz-transition: -moz-transform 0.8s, max-height 0.8s;
  -o-transition: -o-transform 0.8s, max-height 0.8s;
  transition: transform 0.8s, max-height 0.8s;
  -ms-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.lfh-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.45);
}
.lfh-nav {
  background: none;
  pointer-events: none;
  z-index: 1003;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  display: none;
}
div.lfh-container {
  clear: both;
}
div.lfh-container.lfh-min div.lfh-data,
div.lfh-container.undermap div.lfh-data {
  position: relative;
  height: 200px;
}
#lfh-fade.lfh-min div.lfh-data,
#lfh-fade.undermap div.lfh-data {
  position: absolute;
  top: auto;
  bottom: 0;
  height: 200px;
  background-color: white;
}
div.lfh-min div.lfh-content,
div.undermap div.lfh-content {
  margin: 0;
}
div.lfh-min div.lfh-control-list,
div.undermap div.lfh-control-list {
  display: none;
}
div.lfh-data-content {
  display: none;
  line-height: 1em;
}
div.lfh-data-content > div:not(.lfh-contributor) {
  width: 100%;
  margin-top: 3px;
}
div.lfh-min div.lfh-data-content,
div.undermap div.lfh-data-content {
  margin: 35px 5px;
  display: block;
  text-align: left;
  vertical-align: middle;
}
div.lfh-min div.lfh-data-content div.lfh-section,
div.undermap div.lfh-data-content div.lfh-section {
  display: block;
  height: 100%;
  vertical-align: middle;
  line-height: 113px;
}
div.lfh-min div.lfh-data-content div.lfh-section div.lfh-content,
div.undermap div.lfh-data-content div.lfh-section div.lfh-content {
  margin: auto;
}
div.lfh-container.lfh-min,
#fade div.lfh-container.lfh-min,
div.lfh-container.undermap,
#fade div.lfh-container.undermap {
  height: auto;
}
#lfh-fade.lfh-min div.lfh-nav,
div.lfh-min div.lfh-nav,
#lfh-fade.undermap div.lfh-nav,
div.undermap div.lfh-nav {
  display: block;
}
div.lfh-container.lfh-min,
div.lfh-container.undermap {
  border: 2px solid #9e9e9e;
}
div.lfh-nav div.lfh-back,
div.lfh-nav div.lfh-next {
  display: none;
}
div.lfh-min div.lfh-head,
div.undermap div.lfh-head {
  display: none;
}
div.lfh-min div.lfh-nav div.lfh-back,
div.lfh-min div.lfh-nav div.lfh-next,
div.undermap div.lfh-nav div.lfh-back,
div.undermap div.lfh-nav div.lfh-next {
  position: absolute;
  display: none;
  top: 100px;
  opacity: 0.1;
  font-size: 50px;
  pointer-events: all;
  cursor: pointer;
  padding: 0;
  width: 46px;
  height: 50px;
  border-radius: 25px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
}
div.lfh-min div.lfh-nav div.lfh-back,
div.undermap div.lfh-nav div.lfh-back {
  left: -1px;
}
div.lfh-min div.lfh-nav div.lfh-next,
div.undermap div.lfh-nav div.lfh-next {
  right: 0px;
}
div.lfh-nav div.lfh-next::before,
div.lfh-nav div.lfh-back::before {
  margin-left: -3px;
}
div.lfh-min div.lfh-nav div.lfh-back:hover,
div.lfh-min div.lfh-nav div.lfh-next:hover,
div.undermap div.lfh-nav div.lfh-back:hover,
div.undermap div.lfh-nav div.lfh-next:hover {
  opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.9);
}
a.lfh-gpx-file {
  margin-left: 5px;
  padding: 4px 10px 1px 2px;
  font-style: italic;
  font-size: 15px;
  line-height: 1.8;
  color: #000;
  background: #ddd;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  letter-spacing: -2px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}
a.lfh-gpx-file:hover {
  background: #eee;
}
div.lfh-min a.lfh-gpx-file,
#lfh-fade.lfh-min a.lfh-gpx-file,
div.undermap a.lfh-gpx-file,
#lfh-fade.undermap a.lfh-gpx-file {
  color: inherit;
  pointer-events: auto;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0 2px;
}
div.lfh-min a.lfh-gpx-file,
div.undermap a.lfh-gpx-file {
  pointer-events: auto;
  cursor: pointer;
  margin: 0 5px;
  float: right;
}
div.lfh-min div.lfh-contributor,
div.undermap div.lfh-contributor {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 11px;
  pointer-events: auto;
}
div.lfh-min div.lfh-contributor a,
div.undermap div.lfh-contributor a {
  text-decoration: none;
}
div.lfh-min div.lfh-nav div.lfh-title,
div.undermap div.lfh-nav div.lfh-title {
  font-size: 1rem;
  font-weight: 600;
  padding: 3px 5px;
  min-height: 27px;
  max-height: 27px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-overflow: ellipsis;
  overflow: hidden;
}
#lfh-fade.lfh-min div.lfh-nav div.lfh-title,
#lfh-fade.undermap div.lfh-nav div.lfh-title {
  text-align: left;
}
div.lfh-min div.lfh-element,
div.undermap div.lfh-element {
  position: absolute;
  top: 33px;
  left: 0;
  min-width: 100%;
  width: 5000px;
  height: 167px;
  max-height: 167px;
}
div.lfh-min div.lfh-element.lfh-small-content,
div.undermap div.lfh-element.lfh-small-content {
  width: 100%;
}
div.lfh-min div.lfh-element.lfh-small-content div.lfh-element-content,
div.undermap div.lfh-element.lfh-small-content div.lfh-element-content {
  text-align: center;
}
div.lfh-min div.lfh-element.lfh-small-content:not(.lfh-list) div.lfh-content,
div.undermap div.lfh-element.lfh-small-content:not(.lfh-list) div.lfh-content {
  text-align: left;
}
div.lfh-min div.lfh-element.lfh-small-content div.lfh-section,
div.undermap div.lfh-element.lfh-small-content div.lfh-section {
  float: none;
  margin: auto;
}
div.lfh-min div.lfh-element.lfh-hidden,
div.undermap div.lfh-element.lfh-hidden {
  -ms-transform: translateY(300px);
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  -o-transform: translateY(300px);
  transform: translateY(300px);
}
div.lfh-min div.lfh-list.lfh-element.lfh-hidden,
div.undermap div.lfh-list.lfh-element.lfh-hidden {
  opacity: 1;
  max-height: 167px;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 0;
  background: transparent;
}
div.lfh-min div.lfh-list.lfh-element.lfh-hidden div.lfh-description,
div.undermap div.lfh-list.lfh-element.lfh-hidden div.lfh-description {
  margin-top: 40px;
}
div.lfh-min div.lfh-element.step1,
div.lfh-min div.lfh-list.lfh-hidden.step1,
div.undermap div.lfh-element.step1,
div.undermap div.lfh-list.lfh-hidden.step1 {
  -ms-transform: translateX(-280px);
  -webkit-transform: translateX(-280px);
  -moz-transform: translateX(-280px);
  -o-transform: translateX(-280px);
  transform: translateX(-280px);
}
div.lfh-min div.lfh-element.step2,
div.lfh-min div.lfh-list.lfh-hidden.step2,
div.undermap div.lfh-element.step2,
div.undermap div.lfh-list.lfh-hidden.step2 {
  -ms-transform: translateX(-560px);
  -webkit-transform: translateX(-560px);
  -moz-transform: translateX(-560px);
  -o-transform: translateX(-560px);
  transform: translateX(-560px);
}
div.lfh-min div.lfh-element.step3,
div.lfh-min div.lfh-list.lfh-hidden.step3,
div.undermap div.lfh-element.step3,
div.undermap div.lfh-list.lfh-hidden.step3 {
  -ms-transform: translateX(-840px);
  -webkit-transform: translateX(-840px);
  -moz-transform: translateX(-840px);
  -o-transform: translateX(-840px);
  transform: translateX(-840px);
}
div.lfh-min div.lfh-element.step4,
div.lfh-min div.lfh-list.lfh-hidden.step4,
div.undermap div.lfh-element.step4,
div.undermap div.lfh-list.lfh-hidden.step4 {
  -ms-transform: translateX(-1120px);
  -webkit-transform: translateX(-1120px);
  -moz-transform: translateX(-1120px);
  -o-transform: translateX(-1120px);
  transform: translateX(-1120px);
}
div.lfh-min div.lfh-element.step5,
div.lfh-min div.lfh-list.lfh-hidden.step5,
div.undermap div.lfh-element.step5,
div.undermap div.lfh-list.lfh-hidden.step5 {
  -ms-transform: translateX(-1400px);
  -webkit-transform: translateX(-1400px);
  -moz-transform: translateX(-1400px);
  -o-transform: translateX(-1400px);
  transform: translateX(-1400px);
}
div.lfh-min div.lfh-element.step6,
div.lfh-min div.lfh-list.lfh-hidden.step6,
div.undermap div.lfh-element.step6,
div.undermap div.lfh-list.lfh-hidden.step6 {
  -ms-transform: translateX(-1680px);
  -webkit-transform: translateX(-1680px);
  -moz-transform: translateX(-1680px);
  -o-transform: translateX(-1680px);
  transform: translateX(-1680px);
}
div.lfh-min div.lfh-element.step7,
div.lfh-min div.lfh-list.lfh-hidden.step7,
div.undermap div.lfh-element.step7,
div.undermap div.lfh-list.lfh-hidden.step7 {
  -ms-transform: translateX(-1960px);
  -webkit-transform: translateX(-1960px);
  -moz-transform: translateX(-1960px);
  -o-transform: translateX(-1960px);
  transform: translateX(-1960px);
}
div.lfh-min div.lfh-element.step8,
div.lfh-min div.lfh-list.lfh-hidden.step8,
div.undermap div.lfh-element.step8,
div.undermap div.lfh-list.lfh-hidden.step8 {
  -ms-transform: translateX(-2240px);
  -webkit-transform: translateX(-2240px);
  -moz-transform: translateX(-2240px);
  -o-transform: translateX(-2240px);
  transform: translateX(-2240px);
}
div.lfh-min div.lfh-element.step9,
div.lfh-min div.lfh-list.lfh-hidden.step9,
div.undermap div.lfh-element.step9,
div.undermap div.lfh-list.lfh-hidden.step9 {
  -ms-transform: translateX(-2520px);
  -webkit-transform: translateX(-2520px);
  -moz-transform: translateX(-2520px);
  -o-transform: translateX(-2520px);
  transform: translateX(-2520px);
}
div.lfh-min div.lfh-element.step10,
div.lfh-min div.lfh-list.lfh-hidden.step10,
div.undermap div.lfh-element.step10,
div.undermap div.lfh-list.lfh-hidden.step10 {
  -ms-transform: translateX(-2800px);
  -webkit-transform: translateX(-2800px);
  -moz-transform: translateX(-2800px);
  -o-transform: translateX(-2800px);
  transform: translateX(-2800px);
}
div.lfh-min div.lfh-element.lfh-hidden:not(.lfh-list),
div.lfh-min div.lfh-element.lfh-hidden.step0:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden.step0:not(.lfh-list) {
  -ms-transform: translateY(250px);
  -webkit-transform: translateY(250px);
  -moz-transform: translateY(250px);
  -o-transform: translateY(250px);
  transform: translateY(250px);
}
div.lfh-min div.lfh-element.lfh-hidden.step1:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden.step1:not(.lfh-list) {
  -ms-transform: translate(-280px, 250px);
  -webkit-transform: translate(-280px, 250px);
  -moz-transform: translate(-280px, 250px);
  -o-transform: translate(-280px, 250px);
  transform: translate(-280px, 250px);
}
div.lfh-min div.lfh-element.lfh-hidden.step2:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden.step2:not(.lfh-list) {
  -ms-transform: translate(-560px, 250px);
  -webkit-transform: translate(-560px, 250px);
  -moz-transform: translate(-560px, 250px);
  -o-transform: translate(-560px, 250px);
  transform: translate(-560px, 250px);
}
div.lfh-min div.lfh-element.lfh-hidden.step3:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden.step3:not(.lfh-list) {
  -ms-transform: translate(-840px, 250px);
  -webkit-transform: translate(-840px, 250px);
  -moz-transform: translate(-840px, 250px);
  -o-transform: translate(-840px, 250px);
  transform: translate(-840px, 250px);
}
div.lfh-min div.lfh-element.lfh-hidden.step4:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden.step4:not(.lfh-list) {
  -ms-transform: translate(-1120px, 250px);
  -webkit-transform: translate(-1120px, 250px);
  -moz-transform: translate(-1120px, 250px);
  -o-transform: translate(-1120px, 250px);
  transform: translate(-1120px, 250px);
}
div.lfh-min div.lfh-element.lfh-hidden.step5:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden.step5:not(.lfh-list) {
  -ms-transform: translate(-1400px, 250px);
  -webkit-transform: translate(-1400px, 250px);
  -moz-transform: translate(-1400px, 250px);
  -o-transform: translate(-1400px, 250px);
  transform: translate(-1400px, 250px);
}
div.lfh-min div.lfh-element.lfh-hidden.step6:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden.step6:not(.lfh-list) {
  -ms-transform: translate(-1680px, 250px);
  -webkit-transform: translate(-1680px, 250px);
  -moz-transform: translate(-1680px, 250px);
  -o-transform: translate(-1680px, 250px);
  transform: translate(-1680px, 250px);
}
div.lfh-min div.lfh-element.lfh-hidden.step7:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden.step7:not(.lfh-list) {
  -ms-transform: translate(-1960px, 250px);
  -webkit-transform: translate(-1960px, 250px);
  -moz-transform: translate(-1960px, 250px);
  -o-transform: translate(-1960px, 250px);
  transform: translate(-1960px, 250px);
}
div.lfh-min div.lfh-element.lfh-hidden.step8:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden.step8:not(.lfh-list) {
  -ms-transform: translate(-2240px, 250px);
  -webkit-transform: translate(-2240px, 250px);
  -moz-transform: translate(-2240px, 250px);
  -o-transform: translate(-2240px, 250px);
  transform: translate(-2240px, 250px);
}
div.lfh-min div.lfh-element.lfh-hidden.step9:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden.step9:not(.lfh-list) {
  -ms-transform: translate(-2520px, 250px);
  -webkit-transform: translate(-2520px, 250px);
  -moz-transform: translate(-2520px, 250px);
  -o-transform: translate(-2520px, 250px);
  transform: translate(-2520px, 250px);
}
div.lfh-min div.lfh-element.lfh-hidden.step10:not(.lfh-list),
div.undermap div.lfh-element.lfh-hidden.step10:not(.lfh-list) {
  -ms-transform: translate(-2800px, 250px);
  -webkit-transform: translate(-2800px, 250px);
  -moz-transform: translate(-2800px, 250px);
  -o-transform: translate(-2800px, 250px);
  transform: translate(-2800px, 250px);
}
div.lfh-min div.lfh-section,
div.undermap div.lfh-section {
  float: left;
  display: inline-block;
  max-height: 167px;
  margin-top: 0;
}
div.lfh-section div.lfh-content,
div.lfh-section div.lfh-content > div {
  height: auto;
}
div.lfh-min .lfh-content > div,
div.undermap .lfh-content > div {
  max-width: 280px;
  width: 280px;
  float: left;
  /*  height:@height - @height_title - 2*@padding_title;*/
  max-height: 167px;
  vertical-align: bottom;
  margin-top: 5px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lfh-element svg {
  min-height: 220px;
  max-height: 220px;
  max-width: 290px;
  margin: 0;
}
div.lfh-min .lfh-element svg,
div.undermap .lfh-element svg {
  margin-top: 0;
  min-height: 160px;
  height: 160px;
  max-height: 160px;
  max-width: 270px;
}
div.lfh-min div.lfh-file,
div.lfh-min div.lfh-position,
div.undermap div.lfh-file,
div.undermap div.lfh-position {
  display: none;
}
div.lfh-min .lfh-section .lfh-header h4,
div.undermap .lfh-section .lfh-header h4 {
  display: none;
}
div.lfh-min div.lfh-data-content .lfh-section .lfh-header h4,
div.undermap div.lfh-data-content .lfh-section .lfh-header h4 {
  display: block;
}
div.lfh-min .lfh-section .lfh-header h4::before,
div.lfh-min .lfh-section.lfh-hidden .lfh-header h4::before,
div.undermap .lfh-section .lfh-header h4::before,
div.undermap .lfh-section.lfh-hidden .lfh-header h4::before {
  content: none;
}
div.lfh-min div.lfh-content,
div.lfh-min div.lfh-content svg,
div.lfh-min div.lfh-content ~ div,
div.undermap div.lfh-content,
div.undermap div.lfh-content svg,
div.undermap div.lfh-content ~ div {
  display: inline-block;
}
div.lfh-min div.lfh-content ~ div,
div.undermap div.lfh-content ~ div {
  max-width: 280px;
}
div.lfh-min div.lfh-content > div,
div.undermap div.lfh-content > div {
  width: 280px;
  /* height: @height - @height_title - 2*@padding_title;*/
  max-width: 280px;
  max-height: 167px;
}
div.lfh-min div.lfh-content div.wp-caption,
div.undermap div.lfh-content div.wp-caption {
  max-width: 280px;
  max-height: 167px;
}
div.lfh-min div.lfh-content img,
div.undermap div.lfh-content img {
  max-width: 270px;
  max-height: 167px;
}
div.lfh-min .lfh-element-content,
div.undermap .lfh-element-content {
  float: left;
  height: 167px;
  max-height: 167px;
  min-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
}
div.lfh-min .lfh-element:hover ~ div.lfh-nav div.lfh-next,
div.lfh-min .lfh-element:hover ~ div.lfh-nav div.lfh-back,
div.undermap .lfh-element:hover ~ div.lfh-nav div.lfh-next,
div.undermap .lfh-element:hover ~ div.lfh-nav div.lfh-back {
  opacity: 0.7;
  /* border-radius: 50% 50%;
    width: 50px;
    height: 50px; 
    padding:0;
    margin:0;*/
  background-color: #ffffff;
}
div.lfh-nav div.lfh-next::before,
div.lfh-nav div.lfh-back::before {
  padding-left: 2px;
}
.lfh-element h3:first-child,
#content .lfh-element h3:first-child,
#lfh-fade .lfh-element h3:first-child {
  margin-top: 0;
  background-color: grey;
  color: white;
  width: 100%;
  padding: 5px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
}
span.lfh-trackname {
  max-width: 250px;
  height: 25px;
  display: inline-block;
  line-height: 1;
}
span.lfh-close::before {
  display: inline-block;
}
span.lfh-close {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  box-shadow: none;
  pointer-events: auto;
}
div.lfh-min span.lfh-close,
div.undermap span.lfh-close {
  margin-right: 0px;
}
span.lfh-close:hover {
  cursor: pointer;
}
div.lfh-min div.lfh-data span.lfh-close,
div.undermap div.lfh-data span.lfh-close {
  margin-left: 5px;
  display: none;
}
div.lfh-min div.lfh-data div.lfh-list:not(.step0) ~ div.lfh-nav div.lfh-back,
div.undermap div.lfh-data div.lfh-list:not(.step0) ~ div.lfh-nav div.lfh-back {
  display: inline;
}
div.lfh-min div.lfh-data div.lfh-element:not(.lfh-hidden) ~ div.lfh-nav span.lfh-close,
div.lfh-min div.lfh-data div.lfh-element:not(.lfh-hidden) ~ div.lfh-nav div.lfh-back,
div.lfh-min div.lfh-data div.lfh-element:not(.lfh-hidden) ~ div.lfh-nav div.lfh-next,
div.undermap div.lfh-data div.lfh-element:not(.lfh-hidden) ~ div.lfh-nav span.lfh-close,
div.undermap div.lfh-data div.lfh-element:not(.lfh-hidden) ~ div.lfh-nav div.lfh-back,
div.undermap div.lfh-data div.lfh-element:not(.lfh-hidden) ~ div.lfh-nav div.lfh-next {
  display: inline;
}
div.lfh-min div.lfh-data div.lfh-element.step0:not(.lfh-hidden) ~ div.lfh-nav div.lfh-back,
div.undermap div.lfh-data div.lfh-element.step0:not(.lfh-hidden) ~ div.lfh-nav div.lfh-back {
  display: none;
}
.fakefull .lfh-map-container {
  height: 100%;
  display: inline-block;
}
#lfh-fade .fakefull {
  position: relative;
  margin: 32px auto;
  width: 98%;
  height: 92%;
}
/**svg**/
.lfh-element .axis {
  stroke: #000;
  stroke-width: 1px;
  marker-end: url(#t);
}
.lfh-element text {
  font-family: serif;
  font-size: 12px;
  stroke: none;
  fill: #000;
}
.lfh-element .line {
  stroke: #b5b5b5;
  stroke-width: 1px;
  font-family: serif;
  font-size: 10px;
}
.lfh-element rect {
  stroke: #4a4a4a;
  fill: none;
}
.lfh-profile {
  z-index: 1000;
  position: relative;
  margin-bottom: 5px;
}
.lfh-element .lfh-profile-line {
  stroke: #00f;
  fill: none;
  stroke-width: 3px;
}
.lfh-element .lfh-move-line {
  stroke: #f00;
  fill: none;
  stroke-width: 1px;
}
.markerbounds {
  display: block;
}
.markerbounds .lfh-hidden {
  display: none;
}
/**
* class for map simple-border', 'thick-border', 'simple-border-round', 'thick-border-round
*/
div.lfh-container.thick-border-round,
div.lfh-container.thick-border {
  border: 10px solid #9e9e9e;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
div.lfh-container.thick-border-round,
div.lfh-container.simple-border-round {
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
}
div.lfh-container.simple-border,
div.lfh-container.simple-border-round {
  border: 2px solid #9e9e9e;
}
div.lfh-container.center {
  margin: auto;
}
div.lfh-container.left {
  clear: none;
  margin-left: 0;
  float: left;
  margin-right: 5px;
  min-width: 300px;
}
div.lfh-container.right {
  clear: none;
  float: right;
  margin-left: 5px;
  min-width: 300px;
}
div.lfh-list-gpx,
#content div.lfh-list-gpx,
#content div.lfh-list-markers,
#lfh-fade div.lfh-list-gpx,
#lfh-fade div.lfh-list-markers {
  text-align: center;
}
div.lfh-list-gpx input:first-letter,
div.lfh-list-markers input:first-letter {
  text-transform: uppercase;
}
div.lfh-list h4,
#content div.lfh-list h4,
#lfh-fade div.lfh-list h4 {
  margin-bottom: 2px;
}
svg.leaflet-zoom-animated {
  max-height: none;
}
@media screen and (max-width: 768px) {
  /*.lfh-control-fullscreen{
    display:none;*/
}
