.lfh-color-option div{
    width:25px;
    height:25px;
    display:inline-block;
    cursor:pointer;
    border:4px ridge grey;
    border-radius:5px;
 }
 .lfh-color-option div:hover{
  width:27px;
    height:26px;
 }
 .lfh-color-option div.selected{
 border-color:rgba(91,157,217,.4);
 }
  .lfh-color-option{
  display:block;
  width:100%;
  }
  .lfh-color-option.hidden{
    display:none;
  }
  th{
    vertical-align:top;
  }
  #lfh-hiker,
 .mce-content-body img.lfh-hiker{
   border: 1px solid #aaa;
background-color: #f2f2f2;
background-repeat: no-repeat;
background-position: center center;
width: 80%;
height: 150px;
outline: 0;
cursor: pointer;
  }
  div.lfh-map{
  font-family:courier;
  font-size:14px;
  margin-top:10px;
   border: 1px solid #ddd;
   border-top: 1px solid #aaa;
 
  background:#fdfdfd;
  padding:10px;
  width:100%;
  }
  div.lfh-map::before{
  content:"MAP  ";
  color:red;
  }