@CHARSET "utf-8";
.lfh-element{
    font-family:Helvetica,Arial,sans-serif;
    font-size:12px;
    border-bottom-left-radius:6px;
} 
.main .lfh-element h1, 
.main .lfh-element h2, 
.main .lfh-element h3,
.main .lfh-element h4,
.main .lfh-element h5,
.main .lfh-element h6,
#content .lfh-element h1, 
#content .lfh-element h2, 
#content .lfh-element h3,
#content .lfh-element h4,
#content .lfh-element h5,
#content .lfh-element h6,
#lfh-fade .lfh-element h1, 
#lfh-fade .lfh-element h2, 
#lfh-fade .lfh-element h3,
#lfh-fade .lfh-element h4,
#lfh-fade .lfh-element h5,
#lfh-fade .lfh-element h6{
    letter-spacing:-1px;
    text-transform:none;
    font-weight:600;
    max-height:30px;
    color:#000;
    margin-bottom:1px
}
.lfh-element h1, 
.lfh-element h2, 
.lfh-element h3{
    
    font-size:150%;
}

.lfh-element h4{
    font-size:130%;
}
.lfh-element h5{
    font-size:110%;
}

.lfh-section .lfh-header{
    font-style: italic;
    background-color:#ddddee;
    cursor:pointer;

}
.lfh-section.disabled .lfh-header{
    color:grey;
    cursor:default;

}

.lfh-section .lfh-header h4:before{
    content:"\0025BC  ";
    font-style:normal;
    font-size:18px;
    
}
.lfh-section.hidden .lfh-header h4:before{
    content:"\0025B6  ";
    font-style:normal;
    font-size:18px;
}
#content .lfh-section.hidden .lfh-header h4,
#lfh-fade .lfh-section.hidden .lfh-header h4{
    margin-bottom:1px;
}
.lfh-section .lfh-content{
    display:block;
    height:auto;
    line-height:1;
    margin: 0 5px 5px 5px;
     -webkit-transition:max-height .8s ease-out;
    transition: max-height .8s ease-out;
    
}
.lfh-section.hidden .lfh-content{
    line-height:0;
    height: 0;
    max-height:0px;
    margin:0;
    overflow: hidden;
}
.lfh-section .lfh-header h4{
       padding:3px 5px;
    
}
.lfh-container-fullscreen{
    
    width:120px;
}
.lfh-container-fullscreen .leaflet-control{
    margin-top:0;
}
.lfh-control-fullscreen{
    background:white url(../images/icons/glyphicons-216-resize-full.png) no-repeat center center;
}
.lfh-control-fullscreen,
.lfh-control-list{
    width:30px;
    height:30px;
    background-color:white;
    
    cursor:pointer;
    clear:none;
    
}
.leaflet-control .lfh-control-fullscreen,
.leaflet-control .lfh-control-list{
    clear:none;
}
.lfh-control-fullscreen:hover,
.lfh-control-refresh:hover,
.lfh-control-list:hover{
   background-color:#f4f4f4;
}
.lfh-control-fullscreen.actived{
    width:30px;
    height:30px;
    background-color:white;
    background:white url(../images/icons/glyphicons-215-resize-small.png) no-repeat center center;
    cursor:pointer;
    
}
.lfh-control-refresh{
    width:25px;
    height:25px;
    background-color:white;
     cursor:pointer;
    
}
.lfh-control-refresh{
     background:white url(../images/icons/refresh.png) no-repeat center center;
  
}
.lfh-control-list{
     background:white url(../images/icons/glyphicons-158-show-thumbnails-with-lines.png) no-repeat center center;
  
}

#lfh-fade{
    position:fixed;
    top:0;
    left:0;
    width:0;
    height:0;
    opacity:0;
    background:grey;
    text-align:center;
    z-index:1000;
}
#lfh-fade.actived{
        
    opacity:0.99;
}
#lfh-fade.actived,
div.lfh-map-container,
div.lfh-fadable,
#lfh-fade.actived div.lfh-map-container{
    width:100%;
    height:100%;


}

.lfh-map{
    display:inline-block;
    z-index:0;
    vertical-align:middle;
    width:100%;
    height:100%;
}

#lfh-fade.lfh-min div.lfh-map{
	position:absolute;
	width:100%;
	top:0;
	bottom:250px;
}
 .lfh-element {
    float:right;
    position:absolute;
    max-height:800px;
    text-align:left;
     border-right: 2px grey groove;
    top:50px;
    right:0px;
    width:300px;
    opacity: 1;
    overflow: hidden;
    background-color:white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.65);
    -webkit-transition:-webkit-transform .8s ease-out;
  
 }
 .lfh-element-content{
    height:auto;
    overflow-y:auto;
    overflow-x:hidden;
    margin-bottom:10px;
 }
 .lfh-file{
    margin-top:3px;
 }
 .lfh-number{
    font-style:italic;
    text-align: right;
    width: 80px;
    display:inline-block;
 }
 .lfh-var{
    text-align: right;
    font-weight:700;
    width:90px;
    display: inline-block;
 }
 
 .lfh-element.hidden{
    max-height:0;
   -ms-transform: translateX(400px);
   -webkit-transform: translateX(400px);
   -moz-transform: translateX(400px);
   -o-transform: translateX(400px);
   transform: translateX(400px);
   -ms-transition: -ms-transform .8s ease-in;
   -webkit-transition:-webkit-transform .8s ease-in;
   -moz-transition: -moz-transform .8s ease-in;
   -o-transition: -o-transform .8s ease-in;
   transition: transform .8s ease-in;
   
 }
  .lfh-data{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    pointer-events:none;
    overflow:hidden;
    box-shadow: 0px -1px 2px rgba(0,0,0,0.45);
}

 .lfh-nav{
    background:none;
    pointer-events:none;
    z-index:1003;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:250px;
    display:none;
 }

div.lfh-container.lfh-min div.lfh-data{
    position: relative;
    height:250px;
}
#lfh-fade.lfh-min div.lfh-data{
	position:absolute;
	top:auto;
	bottom:0;
	height:250px;
	background-color:white;
}
div.lfh-min div.lfh-content{
    margin:0;
}
div.lfh-min div.lfh-control-list{
    display:none;
}
div.lfh-data-content{
    display:none;
}
div.lfh-min div.lfh-data-content{
    margin: 35px 5px;
    display:block;
    text-align:left;
}
div.lfh-container.lfh-min,
#fade div.lfh-container.lfh-min{
    height:auto;
}
#lfh-fade.lfh-min div.lfh-nav,
 div.lfh-min div.lfh-nav{
    display: block;
 }
 div.lfh-container.lfh-min{
     border: 2px solid #9e9e9e;
 }
 
 div.lfh-nav div.lfh-back,
 div.lfh-nav div.lfh-next{
     display:none;
 }
 div.lfh-min div.lfh-head{
     display:none;
 }
 div.lfh-min div.lfh-nav div.lfh-back,
 div.lfh-min div.lfh-nav div.lfh-next{
    position:absolute;
    display:none;
    top:125px;
    opacity:0.1;
    font-size:50px;
    pointer-events:all;
    cursor:pointer;
    padding: 0;
    width: 46px;
    height: 50px; 
    border-radius: 25px;

    margin:auto;
     background-color:rgba(255,255,255,0.6)
   
 }
 div.lfh-min div.lfh-nav div.lfh-back{
      left:1px;
 }
 div.lfh-min div.lfh-nav div.lfh-next{
     right:0px;
 }
 div.lfh-nav div.lfh-next::before,
div.lfh-nav div.lfh-back::before{
    padding-left:2px;
}
 div.lfh-min div.lfh-nav div.lfh-back:hover,
 div.lfh-min div.lfh-nav div.lfh-next:hover{
     opacity:0.9;

      background-color:rgba(255,255,255,0.9);

 }
 a.lfh-gpx-file{
    margin-left:5px;
    padding: 4px 10px 1px 2px;
    font-style:italic;
    font-size:15px;
    line-height:1.8;
    color:#000;
    background:#ddd;
    font-weight:500;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    letter-spacing: -2px;
    border-radius:2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.8);
}
a.lfh-gpx-file:hover{
      background:#eee;
}
 div.lfh-min a.lfh-gpx-file,
#lfh-fade.lfh-min a.lfh-gpx-file{
     color:inherit;
     pointer-events: auto;
     background:none;
     border:none;
     box-shadow:none;
     padding:0;
     margin:0 2px;
 }

 div.lfh-min a.lfh-gpx-file{
      pointer-events: auto;
      cursor: pointer;
      margin: 0 5px;
      float:right;
 }

 div.lfh-min div.lfh-contributor{
     position:absolute;
     bottom:0;
     right:5px;
     font-size:11px;
 }
 div.lfh-min div.lfh-nav div.lfh-title{
     font-size:1.2em;
     font-weight:600;
     padding:3px;
     min-height:27px;
 }
 
 #lfh-fade.lfh-min div.lfh-nav div.lfh-title{
     font-size:1em;
     font-weight:600;
     padding:3px 5px;
     text-align:left;
 }
 
 div.lfh-min div.lfh-element{
 position:absolute;
    top:30px;
    left:0;
    min-width:100%;
    width:5000px;
    height:220px;
    max-height:220px;
 
}
div.lfh-min div.lfh-element.step1{
    -ms-transform: translateX(-280px);
    -webkit-transform: translateX(-280px);
    -moz-transform: translateX(-280px);
    -o-transform: translateX(-280px);
    transform: translateX(-280px);
}
div.lfh-min div.lfh-element.step2{
    -ms-transform: translateX(-560px);
    -webkit-transform: translateX(-560px);
    -moz-transform: translateX(-560px);
    -o-transform: translateX(-560px);
    transform: translateX(-560px);
}
div.lfh-min div.lfh-element.hidden,
 div.lfh-min div.lfh-element.hidden.step0{
   -ms-transform: translateY(300px);
   -webkit-transform: translateY(300px);
   -moz-transform: translateY(300px);
   -o-transform: translateY(300px);
   transform: translateY(300px);
 }
 div.lfh-min div.lfh-element.hidden.step1{
   -ms-transform: translate(-280px,300px);
   -webkit-transform: translate(-280px, 300px);
   -moz-transform: translate(-280px,300px);
   -o-transform: translate(-280px,300px);
   transform: translate(-280px,300px);
 }
  div.lfh-min div.lfh-element.hidden.step2{
   -ms-transform: translate(-560px,300px);
   -webkit-transform: translate(-560px, 300px);
   -moz-transform: translate(-560px,300px);
   -o-transform: translate(-560px,300px);
   transform: translate(-560px,300px);
 }
div.lfh-min div.lfh-section{
    float:left;
    display:inline-block;
    max-height:210px;

}
div.lfh-min .lfh-content > div
{
     max-width:270px;
     width:270px;
     float:left;
     height:215px;
     max-height:215px;
     vertical-align: bottom;
     margin-top: 5px;
     padding:0 5px;
}
div.lfh-min div.lfh-file,
div.lfh-min div.lfh-position{
    display:none;
}

div.lfh-min .lfh-section .lfh-header h4{
    display:none;
}
div.lfh-min div.lfh-data-content .lfh-section .lfh-header h4{
    display: block;
}
div.lfh-min .lfh-section .lfh-header h4::before,
div.lfh-min .lfh-section.hidden .lfh-header h4::before
{
    content:none;
}


div.lfh-min div.lfh-content,
div.lfh-min div.lfh-content svg,
div.lfh-min div.lfh-content ~ div{
    display:inline-block;

}
div.lfh-min div.lfh-content svg,
div.lfh-min div.lfh-content ~ div{
       max-width:290px;

    }
div.lfh-min .lfh-element-content{
    float:left;
    height:220px;
    max-height:240px;
    min-width:100%;
    overflow-x:auto;
    overflow-y:hidden;
    box-sizing: border-box;
}
div.lfh-min .lfh-element:hover ~ div.lfh-nav div.lfh-next,
div.lfh-min .lfh-element:hover ~ div.lfh-nav div.lfh-back{
	opacity:0.7;
	/* border-radius: 50% 50%;
    width: 50px;
    height: 50px; 
    padding:0;
    margin:0;*/
	 background-color:rgba(255,255,255,1);
}
div.lfh-nav div.lfh-next::before,
div.lfh-nav div.lfh-back::before{
	padding-left:2px;
}
#content .lfh-element h3:first-child, 
#lfh-fade .lfh-element h3:first-child
{
    margin-top:0;
    background-color:grey;
    color:white;
    width:100%;
    padding: 5px;
    margin-bottom: 2px;
}
span.lfh-close:before{
    display: inline-block;
}
span.lfh-close{
    float:right;
    color:white;
    width:20px;
    height:20px;
    box-shadow:none;
    
    pointer-events:auto;
}
span.lfh-close:hover{
    cursor:pointer;
}

div.lfh-min div.lfh-data span.lfh-close{
	margin-left:5px;
	display:none;
}
div.lfh-min div.lfh-data div.lfh-element:not(.hidden) ~ div.lfh-nav span.lfh-close,
div.lfh-min div.lfh-data div.lfh-element:not(.hidden) ~ div.lfh-nav div.lfh-back,
div.lfh-min div.lfh-data div.lfh-element:not(.hidden) ~ div.lfh-nav div.lfh-next{
	display:inline;
}
div.lfh-min div.lfh-data div.lfh-element.step0:not(.hidden) ~ div.lfh-nav div.lfh-back{
    display:none;
}
.fakefull .lfh-map-container{
    height:100%;
    display:inline-block;
}
#lfh-fade .fakefull{
    position:relative;
    margin:32px auto;
    width:98%;
    height:92%;
    
} 

/**svg**/
.lfh-element .axis{
    stroke:#000;
    stroke-width:1px;
    marker-end: url(#t);
} 
.lfh-element text{
    font-family: serif;
    font-size  : 12px;
    stroke     : none;
    fill       : #000;
}

.lfh-element .line{
    stroke:#b5b5b5;
    stroke-width:1px;
    font-family: serif;
    font-size  : 10px;
}
.lfh-element rect{
    stroke:#4a4a4a;
    fill:none;
}
.lfh-profile{
    z-index: 1000;
    position:relative;
    margin-bottom:5px;
}
.lfh-element .lfh-profile-line{
    stroke:#00f;
    fill:none;
    stroke-width:3px;
}
.lfh-element .lfh-move-line{
    stroke:#f00;
    fill:none;
    stroke-width:1px;
}
.markerbounds{
    display:block;
}
.markerbounds .hidden{
    display:none;
}

/**
* class for map simple-border', 'thick-border', 'simple-border-round', 'thick-border-round
*/
div.lfh-container.thick-border-round,
div.lfh-container.thick-border{
    border: 10px solid #9e9e9e;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
div.lfh-container.thick-border-round,
div.lfh-container.simple-border-round{
     border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}
div.lfh-container.simple-border,
div.lfh-container.simple-border-round{
    border: 2px solid #9e9e9e;
}
div.lfh-container.center{
    margin:auto;
}
div.lfh-container.left{
    margin-left:0;
    float:left;
    margin-right:5px;
    min-width:300px;
}
div.lfh-container.right{
    float:right;
    margin-left:5px;
     min-width:300px;
}
#content ul.lfh-list-gpx,
#content ul.lfh-list-markers,
#lfh-fade ul.lfh-list-gpx,
#lfh-fade ul.lfh-list-markers{
    list-style-type:none;
    margin: 0;
}

ul.lfh-list-gpx li,
ul.lfh-list-markers li{
    font-size:1.2em;
    font-weight:600;
    width:100%;
    cursor: pointer;
    line-height:1.5;
    background-color:lightgrey;
    margin:1px 0px;
    padding:3px 5px;
}
ul.lfh-list-gpx li:first-letter ,
ul.lfh-list-markers li:first-letter {
    text-transform: uppercase;
}
ul.lfh-list-gpx li:hover,
ul.lfh-list-markers li:hover{
    background-color:#9e9e9e;
}

#content div.lfh-list h4,
#lfh-fade div.lfh-list h4{
    margin-bottom:2px;
}
@media screen and (max-width: 768px)

{

 /*.lfh-control-fullscreen{
    display:none;*/

}
