@font-face {
  font-family: 'lfhiker';
  src: url('../font/lfhiker.eot');
  src: url('../font/lfhiker.eot?#iefix') format('embedded-opentype'),
       url('../font/lfhiker.woff2') format('woff2'),
       url('../font/lfhiker.woff') format('woff'),
       url('../font/lfhiker.ttf') format('truetype'),
       url('../font/lfhiker.svg?#lfhiker') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lfhiker';
    src: url('../font/lfhikeriker.svg?47693737#lfhikeriker') format('svg');
  }
}
*/
 
 [class^="lfhicon-"]:before, [class*=" lfhicon-"]:before {
  font-family: "lfhiker";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased lfhs size */
 /*  font-size: 120%; */
     font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.lfhicon {
    display: inline-block;
    font: normal normal normal 14px/1 "lfhiker";
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
.lfhicon-empty:before { content: '  '; }
.lfhicon-close:before { content: '\e800'; } 
.lfhicon-asterisk:before { content: '\e801'; } 
.lfhicon-star:before { content: '\e802'; } 
.lfhicon-bolt:before { content: '\e803'; } 
.lfhicon-eye:before { content: '\e804'; } 
.lfhicon-heart:before { content: '\e805'; }
.lfhicon-flag:before { content: '\e806'; } 
.lfhicon-leaf:before { content: '\e807'; } 
.lfhicon-key:before { content: '\e808'; } 
.lfhicon-music:before { content: '\e809'; }
.lfhicon-cloud:before { content: '\e80a'; }
.lfhicon-plane:before { content: '\e80b'; }
.lfhicon-glass:before { content: '\e80c'; }
.lfhicon-home:before { content: '\e80d'; } 
.lfhicon-road:before { content: '\e80e'; } 
.lfhicon-map-marker:before { content: '\e80f'; } 
.lfhicon-edit:before { content: '\e810'; } 
.lfhicon-download:before { content: '\e811'; }
.lfhicon-th-list:before { content: '\e812'; } 
.lfhicon-resize-full-1:before { content: '\e813'; } 
.lfhicon-reset:before { content: '\e814'; } 
.lfhicon-resize-small:before { content: '\e815'; }
.lfhicon-resize-full:before { content: '\f0b2'; } 
.lfhicon-square:before { content: '\f0c8'; } 
.lfhicon-menu:before { content: '\f0c9'; } 
.lfhicon-bell:before { content: '\f0f3'; } 
.lfhicon-coffee:before { content: '\f0f4'; } 
.lfhicon-cutlery:before { content: '\f0f5'; }
.lfhicon-beer:before { content: '\f0fc'; } 
.lfhicon-circle-o:before { content: '\f10c'; } 
.lfhicon-circle:before { content: '\f111'; } 
.lfhicon-smile-o:before { content: '\f118'; } 
.lfhicon-chevron-circle-left:before { content: '\f137'; } 
.lfhicon-chevron-circle-right:before { content: '\f138'; }
.lfhicon-bullseye:before { content: '\f140'; } 
.lfhicon-female:before { content: '\f182'; } 
.lfhicon-male:before { content: '\f183'; } 
.lfhicon-sun-o:before { content: '\f185'; } 
.lfhicon-dot-circle-o:before { content: '\f192'; } 
.lfhicon-wheelchair:before { content: '\f193'; }
.lfhicon-wordpress:before { content: '\f19a'; } 
.lfhicon-bank:before { content: '\f19c'; } 
.lfhicon-child:before { content: '\f1ae'; }
.lfhicon-paw:before { content: '\f1b0'; }
.lfhicon-spoon:before { content: '\f1b1'; }
.lfhicon-cube:before { content: '\f1b2'; } 
.lfhicon-cab:before { content: '\f1b9'; } 
.lfhicon-tree:before { content: '\f1bb'; } 
.lfhicon-binoculars:before { content: '\f1e5'; } 
.lfhicon-trash:before { content: '\f1f8'; } 
.lfhicon-bicycle:before { content: '\f206 '; margin-left: -.5px;} 
.lfhicon-bed:before { content: '\f236'; } 
.lfhicon-train:before { content: '\f238'; } 
.lfhicon-industry:before { content: '\f275'; } 
.lfhicon-map:before { content: '\f279'; } 
.lfhicon-shopping-basket:before { content: '\f291'; } 
.lfhicon-envira:before { content: '\f299'; } 
.lfhicon-shower:before { content: '\f2cc'; } 
.lfhicon-snowflake-o:before { content: '\f2dc'; } 
.lfhicon-pin:before { content: '\e816'; } 
.lfhicon-globe:before { content: '\e817'; } 
.lfhicon-resize-small-1:before { content: '\e818'; } 
.lfhicon-resize-full-2:before { content: '\e819'; } 
.lfhicon-sun-inv:before { content: '\e81a'; } 
.lfhicon-record:before { content: '\e81b'; } 
.lfhicon-religious-christian:before { content: '\e82f'; } 
.lfhicon-school:before { content: '\e834'; } 
.lfhicon-skiing:before { content: '\e836'; } 
.lfhicon-swimming:before { content: '\e838'; } 

.lfhicon-cubes:before { content: '\f1b3'; } 
.lfhicon-bus:before { content: '\f207'; } 
.lfhicon-diamond:before { content: '\f219'; } 
.lfhicon-motorcycle:before { content: '\f21c'; } 
.lfhicon-fort-awesome:before { content: '\f286'; } 
.lfhicon-shopping-bag:before { content: '\f290'; } 
.lfhicon-first-order:before { content: '\f2b0'; } 
.lfhicon-plus:before { content: '\002b'}
/*
Author: L. Voogdt
License: MIT
Version: 1.0
*/

/* Marker setup */
.awesome-marker {
  background: url('images/markers-soft.png') no-repeat 0 0;
  width: 35px;
  height: 46px;
  position:absolute;
  left:0;
  top:0;
  display: block;
  text-align: center;
}

.awesome-marker-shadow {
  background: url('images/markers-shadow.png') no-repeat 0 0;
  width: 36px;
  height: 16px;
}

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
 .awesome-marker {
  background-image: url('images/markers-soft@2x.png');
  background-size: 720px 46px;
 }
 .awesome-marker-shadow {
  background-image: url('images/markers-shadow@2x.png');
  background-size: 35px 16px;
 }
}

.awesome-marker i {
  color: #333;
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}

.awesome-marker .icon-white {
  color: #fff;
}

/* Colors */
.awesome-marker-icon-red {
  background-position: 0 0;
}

.awesome-marker-icon-darkred {
  background-position: -180px 0;
}

.awesome-marker-icon-lightred {
  background-position: -360px 0;
}

.awesome-marker-icon-orange {
  background-position: -36px 0;
}

.awesome-marker-icon-beige {
  background-position: -396px 0;
}

.awesome-marker-icon-green {
  background-position: -72px 0;
}

.awesome-marker-icon-darkgreen {
  background-position: -252px 0;
}

.awesome-marker-icon-lightgreen {
  background-position: -432px 0;
}

.awesome-marker-icon-blue {
  background-position: -108px 0;
}

.awesome-marker-icon-darkblue {
  background-position: -216px 0;
}

.awesome-marker-icon-lightblue {
  background-position: -468px 0;
}

.awesome-marker-icon-purple {
  background-position: -144px 0;
}

.awesome-marker-icon-darkpurple {
  background-position: -288px 0;
}

.awesome-marker-icon-pink {
  background-position: -504px 0;
}

.awesome-marker-icon-cadetblue {
  background-position: -324px 0;
}

.awesome-marker-icon-white {
  background-position: -574px 0;
 
}
.awesome-marker .icon-white{

}
.awesome-marker-icon-gray {
  background-position: -648px 0;
}

.awesome-marker-icon-lightgray {
  background-position: -612px 0;
}

.awesome-marker-icon-black {
  background-position: -682px 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
}
#map,
#fade {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#banner {
  position: fixed;
  z-index: 1001;
  bottom: 0px;
  right: 20px;
  height: auto;
  text-align: right;
  display: inline-block;
}
.lfh-container {
  width: 100%;
  position: relative;
}
#lfh-control {
  font-size: 16px;
}
.lfh-form-edit {
  font-size: 14px;
  padding: 0px;
  width: 450px;
  position: absolute;
  z-index: 1000;
  background-color: white;
  height: auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  z-index: 1001;
}
.lfh-form-edit th {
  font-weight: 600;
  font-size: 0.9rem;
  max-width: 50px;
  text-align: center;
  vertical-align: bottom;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.lfh-form-edit td.lfh-center {
  text-align: center;
}
#window-add-marker {
  top: 125px;
  left: 55px;
  display: none;
}
#window-edit-marker {
  top: 50px;
  left: 60px;
}
#window-edit-map {
  top: 5px;
  right: 60px;
}
.lfh-form-edit .header {
  background-color: #23282d;
  color: white;
  padding-left: 10px;
  margin: 0px;
  cursor: move;
}
.lfh-form-edit .header h3 {
  margin: 3px;
  display: inline;
  width: 180px;
  color: white;
  vertical-align: middle;
}
.lfh-helper .header div.lfhicon {
  float: right;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  padding: 3px;
}
.lfh-helper form {
  padding-top: 10px;
  overflow-y: auto;
  height: auto;
  max-height: 395px;
  padding-bottom: 10px;
}
.lfh-helper label {
  text-align: right;
  width: 200px;
  padding-right: 5px;
  color: #124964;
}
.lfh-helper input,
.lfh-helper select,
.lfh-helper textarea {
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
}
.lfh-helper input[type=text],
.lfh-helper textarea {
  width: 165px;
  max-width: 165px;
  line-height: 1.4;
}
.lfh-helper textarea.wp-editor-area {
  width: 100%;
  max-width: 100%;
  height: 100px;
}
.lfh-helper div.marker-description {
  padding: 5px;
  border: 1px 0 solid grey;
  display: none;
}
.lfh-helper input[type="checkbox"]:checked + div.marker-description {
  display: block;
}
.lfh-helper label,
.lfh-helper input {
  display: inline-block;
  vertical-align: top;
}
.lfh-helper input[type="checkbox"] {
  vertical-align: baseline;
}
.lfh-helper input:focus,
.lfh-helper select:focus,
.lfh-helper textarea:focus {
  border-color: #5b9dd9;
}
.lfh-helper textarea {
  min-height: 40px;
}
#fade input[type="button"],
#fade input[type="reset"],
.lfh-helper input[type="button"],
.lfh-helper input[type="reset"] {
  /* margin: 0px 7px 3px 0;
        padding: 6px 18px;
        height: 50px; */
  margin: 7px 7px 0px 0;
  padding: 3px 9px;
  height: auto;
  font-size: 12px;
  line-height: 1.2;
  vertical-align: middle;
  max-width: 150px;
  /*  font-size: 14px;
        line-height: 1.4285714;*/
  white-space: normal;
  background: #0085ba;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #0073aa #006799 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.lfh-helper input[type="button"]:disabled {
  background-color: lightgrey;
}
.lfh-helper input[type="button"]:disabled:hover {
  background-color: lightgrey;
}
.lfh-helper input[type="button"]:hover,
.lfh-helper input[type="reset"]:hover,
.lfh-helper input[type="reset"]:active,
.lfh-helper input[type="reset"]:visited,
.lfh-helper input[type="reset"]:focus {
  background-color: #0089bc;
  color: #fff;
  margin: 7px 7px 0px 0;
  padding: 3px 9px;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}
#fade input[type="button"],
.lfh-helper form input[type="button"],
.lfh-helper form input[type="reset"] {
  margin: 7px 7px 0px 0;
  padding: 3px 9px;
  height: auto;
  font-size: 12px;
  line-height: 1.2;
}
#fade input[type="button"] {
  font-size: 14px;
}
.lfh-helper form input[type="number"] {
  width: 50px;
  direction: rtl;
  padding-right: 3px;
}
#selected-icon,
#selected-color {
  cursor: pointer;
}
#selected-icon {
  margin-left: 10px;
}
.to-extend {
  margin-top: -5px;
}
.to-extend:not(.lfh-color-option) > div {
  width: 165px;
  margin: 2px;
  text-align: center;
  background-color: #f3f3f3;
  overflow: hidden;
}
#selected-color,
#selected-icon,
.to-extend div {
  display: inline-block;
  position: static;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
/* #center-map{
        background-color:#f3f3f3;
        margin:0 6px 6px 6px;
        padding:0 5px 5px 5px;
        text-align: right;
       
    }*/
.to-extend label {
  cursor: pointer;
}
.to-extend label:hover {
  font-size: 18px;
}
.to-extend > div > div {
  margin: 0;
  padding: 0px;
  cursor: pointer;
}
.to-extend > div > div:hover {
  background-color: #fff;
  padding: 1px;
}
#icon-marker div {
  min-width: 19px;
  text-align: center;
}
.to-extend > div > div.selected {
  background-color: #b5d0d0;
  -webkit-box-shadow: inset 0 0 0 1px rgba(91, 157, 217, 0.9);
  box-shadow: inset 0 0 0 1px rgba(91, 157, 217, 0.9);
}
*::-moz-placeholder {
  color: #72777c;
  opacity: 1;
}
.leaflet-control .fa {
  width: 22px;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.leaflet-control-layers-overlays a {
  cursor: pointer;
}
.leaflet-control-layers-overlays a:hover {
  text-decoration: underline;
}
.lfh-add-list {
  position: absolute;
  left: 33px;
  top: 32px;
  display: none;
}
#lfh-add-element.active + div.lfh-add-list {
  display: block;
}
.leaflet-control .active {
  background-color: #f0d6d7;
  -webkit-box-shadow: inset 0 0 0 2px rgba(231, 107, 111, 0.6);
  box-shadow: inset 0 0 0 2px rgba(231, 107, 111, 0.6);
}
#center-map {
  font-size: 12px;
  line-height: 1.2em;
}
#text-pan {
  color: #d12a2f;
  background-color: #f3f3f3;
  margin: 0 6px 6px 6px;
  padding: 0 5px 5px 5px;
}
#center-map td:first-child {
  font-style: italic;
  vertical-align: top;
  padding: 0 5px;
  text-align: right;
  max-width: 190px;
}
#fade {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(25, 25, 25, 0.8);
  width: 100%;
  height: 100vh;
  display: block;
  text-align: center;
  z-index: 1002;
  opacity: 1;
  transition: opacity 0.5 ease;
}
#fade.hidden {
  display: none;
  opacity: 0;
}
#fade::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.modal {
  text-align: left;
  margin: auto;
  width: 350px;
  padding: 10px;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 10px solid #9e9e9e;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  display: inline-block;
}
.modal label {
  width: 250px;
}
.modal h3 {
  font-size: 18px;
  margin: 10px 0 18px 10px;
}
